body {
  background-color: #1de058;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

nav {
  color: red;
  position: absolute;
  left: 600px;
  font-style: light;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li {
  margin-right: 10px;
}

header {
  width: 100%;
  height: 1000px;
  margin-top: auto;
  position: absolute;
  font-size: 25px;
  font-family: Lora;
  font-weight: bolder;
  background-color: #003366;
  border-style: solid;
  border: 2px;
}

a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: #003366;
  height: 130px;
  width: 100%;
  margin-top: 10px;
}

li::before {
  content: "\1f41f";
  margin-right: 5px;
}

bold {
  font-weight: bold;
}

h1 {
  font-size: 33px;
  font-family: Papyrus Light;
  font-family: cursive;
}
h2 {
  font-size: 24px;
  font-family: Papyrus Light;
}
h3 {
  font-size: 22px;
  font-family: Papyrus Light;
}
h4 {
  font-size: 15px;
  font-family: Papyrus Light;
  font-style: italic;
}

text {
  font-size: 15px;
  font-family: Papyrus Light;
}
