<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <a id="top"></a>
    <header>
      <h4>Kelly Stoyles</h4>
    </header>
    <main>
      <br />
      <br />
      <div>
        <h2>About Me</h2>
        <h3>Where I come from:</h3>
        <p>
          I was born on a rock on the "Rock" in the middle of the Atlantic Ocean
          : Bell Island, Newfoundland. In 1996, I went back to school at the age
          of 26 and got my college diploma in Computer Studies - Management
          Information Studies.
          <br /><br />But life had other plans for me and over the next 25
          years, I got married, raised 2 children, went into the financial
          sector as an independant Insurance Broker. During those years, I also
          did part-time/contract work for a Software Engineering firm. <br />
        </p>
        <p>
          During the pandemic, I sold my business and went to work at
          ICANMarine. It was during my time there, I got to dabbled in almost
          every department but one - the software engineering side. I
          discovered, I yearned to create. I wanted to see something i created
          come to life! So almost 30 years later, I became a student again -
          this time at Keyin College in the Software Development program.
        </p>
        <br />
        <br />
        <h3>Where I am going:</h3>
        <p>
          I don’t know yet and that’s what makes this so exciting!! <br /><br />
          With two semesters completed, I will graduate at the end of December
          2024. In the new year, I could be anywhere but I do know, I will
          either be developing some awesome code or flashy websites. Watch out
          world, here I come!! That’s a little about me; I’d love to hear from
          you! &nbsp;I’m always open to speak more about my experiences,
          portfolio pieces, and new design opportunities.<br /><br />
        </p>
      </div>
    </main>
    <br />
    <br />
    <br />
    <footer>
      <a href="#top">Go to Top</a>
      <p></p>
      <pre>Copyright ©2023 Kelly Stoyles</pre>
      <p></p>
    </footer>
  </body>
</html>
