<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Full Stack Course</title>
  </head>
  <body>
    <nav>
      <a href="/">Homepage</a>
      <a href="/about">About page</a>
      <a href="/contact">Contact page</a>
      <a href="/products">Products page</a>
      <a href="/subscribe">Subscribe page</a>
    </nav>
        <h1>Home</h1>
        <p>This is the Homepage page.</p>
      </body>
    </html>
  </body>
</html>
