<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Full Stack</title>
  </head>
  <body>
    <nav>
      <a href="/">Homepage</a>
      <a href="/about">About page</a>
      <a href="/contact">Contact page</a>
      <a href="/products">Products page</a>
      <a href="/subscribe">Subscribe page</a>
    </nav>
    <h1>Products</h1>
    <h2>This are the bags, I want to buy!</h2>

    <img
      src="
      images/Travel-pouch-1w_13d603d4-7f31-4f08-ab8c-0b91cd95a9d1_1000x.webp"
      alt="Travel pouch"
    />
    <img src="/images/Tote-Brown_Mood-1w_1000x.webp" alt="Tote Bag" />
    <img
      src="/images/OCEANECALABASASCAN_055845905614_CARRE_P1.jpg "
      alt="Beach Bag"
    />
  </body>
</html>
